nav > div > h1 {
	color: transparent;
	height: 50px;
	display: inline-block;
	width: 300px;
	margin:  0;
}
header h2 {
	font-family: 'Open Sans', 'Gill Sans', Consolas, San-serif;
	font-weight: 100;
	font-size: 24px;
	margin: 0 0 5px 0;
	display: block;
}
header #chui-image {
	margin-top: -3px;
	float: right;
}
header div {
	display: block;
	box-sizing: content-box;
	padding: 26px 0 0;
	height: 140px;
}
header div * {
	font-weight: 500;
}
section {
	box-sizing: border-box;
	padding: 1px 42px;
}
section h2 {
	font-family: 'Open Sans', 'Gill Sans', Consolas, Sans-serif;
	font-size: 36px;
	color: #4D4D4D;
	font-weight: normal;
	margin: 0;
}
section h3 {
	font-family: 'Open Sans', 'Gill Sans', Consolas, Sans-serif;
	font-size: 16px;
	color: #4D4D4D;
	font-weight: normal;
	margin: 0;
	max-width: 500px;
}
section {
	height: 400px;
}
section div {
	max-width: 960px;
	margin: 0 auto;
	position: relative
}
#build  {
	height: 318px;
	padding-top: 72px;
}
#build img {
	float: left;
}
#build aside {
	margin-left: 320px;
}
#opensource {
	padding-top: 54px;
}
#opensource img {
	float: left;
}
#opensource aside {
	margin-left: 320px;
}
#build .mainLink {
	margin: 20px 0 0 0;
}
#opensource .mainLink {
	margin: 20px 0 0 0;
}
@media only screen and (max-width: 768px) {
	nav > div > h1,
	nav > div > h1 a {
		background-repeat: no-repeat;
	}
	header {
		height: 180px !important;
	}
	header div {
		height: 110px;
	}
	article > #code {
		padding-top: 10px !important;
		padding-bottom: 1s0px;
		height: 200px !important;
	}
	article > #opensource {
		padding-top: 10px !important;
		padding-bottom: 1s0px;
		height: 200px !important;
	}
}

@media only screen and (max-width: 320px) {
	header {
		padding: 1px 20px !important;
	}
	article > #code {
		padding-top: 10px !important;
		padding-bottom: 10px;
		height: 200px !important;
	}
	article > #opensource {
		padding-top: 10px !important;
		padding-bottom: 1s0px;
		height: 200px !important;
	}
}